{% extends 'base.html.twig' %}

{% block title %}Collectif Taliesin{% endblock %}
{% block stylesheets %}
    <style>
        body {background-image: url({{ asset('media/home.jpg') }});
               background-attachment: fixed;
               background-position: center;
               }
        h1{color: #46ED58;}
        .jumbotron{background: rgba(33,33,33,0.9);
                  border-radius: 25px;}

        .lienF{color: #46ED58;
        text-decoration: none;}
        .lienF:hover{
            color: #46ED58 ;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="container">
    <div class="jumbotron jumbotron-fluid p-0 mt-5">
        <div class="container text-center">
            <h1 class="pt-2">Le Collectif Taliesin</h1>
            <p class="lead text-white mb-4">
                Le Collectif Taliesin est une association loi 1901 visant à créer des expériences narratives et ludiques et à les mettre en scène dans le cadre événementiel et/ou dématérialisé.
                Fondé en 2019 et composé uniquement de membres bénévoles, le Collectif Taliesin est un collectif d’auteurs et de créateurs unis dans un même but:
                créer des jeux hors du commun dans un but non lucratif, afin de repousser toujours plus loin les limites du genre.
            </p>
            <p class=" text-white p-2 mt-4">
                L’association est menée par une direction collégiale composée de cinq membres.
                Nous travaillons à l’heure actuelle sur un projet principal, un univers de jeu de rôle collaboratif au nom de code <span class="lienF">“Projet Odyssey”</span>,
                et avons pour ambition de nous en servir pour développer des outils de design narratif et technique qui nous serviront pour les projets subséquents.
            </p>
            <img src="{{ asset('media/Logohome(1).jpg') }}">
        </div>

    </div>
        
    </div>



{% endblock %}