{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style>
        body {background-image: url({{ asset('media/home.jpg') }});
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .card-title{
            color: #46ED58;
        }



    </style>
{% endblock %}
{% block body %}
<div class="container">
        <div class="card mb-4">
            <div class="card-body">
                <img class="card-img-top" style="max-width: 300px" src="{{ asset('media/platon.jpg') }}">
                <h5 class="card-title">
                    ROMAIN - Lead Narrative Designer
                </h5>
                <p class="card-text" style="max-width: 300px;">
                    Romain est issu d’une formation académique en littérature et en sciences du jeu
                    contexte dans lequel il a - entre autres - travaillé sur le jeu de rôle et sur la littérature fantastique.
                    Grand joueur (en termes quantitatifs plutôt que qualitatifs) de jeux vidéos, de jeux de société et de jeux de rôle,
                    il passe la plupart de son temps libre à travailler sur des projets de jeux où il explore les manières de créer un
                    investissement émotionnel chez les joueurs. Son expérience en tant que MJ couvre dix années et de nombreux jeux/univers différents,
                    le plus souvent en créant ses propres scénarios et contenus. Il est le principal instigateur du Projet Odyssey,
                    né d’un désir mégalomaniaque (si si) de réunir autour d’une même table (dématérialisée qui plus est) des dizaines de joueurs et MJ différents,
                    en les faisant cohabiter dans la même temporalité et interagir les uns avec les autres.
                </p>
            </div>
        </div>




        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">

                </h5>
                <p class="card-text">

                </p>
            </div>
        </div>
</div>
{% endblock %}