<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce champ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn  mb-2">Supprimer</button>
</form>
