{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block title %}Modifier Rôle de jeu{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
             <div class="card">
                      <div class="card-body text-center">
                            <h1 class="card-title">Modifier rôle</h1>
                            <div class="card-body mx-4 text-center">
                                {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}
                                {{ include('project/_delete_form.html.twig') }}
                                <a class="btn btn-dark btn-sm" href="{{ path('project_index') }}">Retour à la liste</a>
                             </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
