{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block body %}

        <div class="card">
            <div class="card-body">
    <h1 class="card-title">Choisir un nouveau rôle</h1>

    <div class="card-text">{{ include('project/_form.html.twig') }}</div>
        </div>
        </div>
{% endblock %}
